
page-chatroom {
   
      .chat-page
      {
          //background-color:lightslategrey;
      }
      .message {
          margin:2px;
      }

      .input
      {
        border-bottom-color: transparent !important;
      }

      .speech-bubble-right {
        position: relative;
        border-radius: .4em;
        background-color:#9db8c8;
        color:white;
    }
    
    .speech-bubble-right:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: #9db8c8;
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: -20px;
    }

    .speech-bubble-left {
        position: relative;
        background-color:#eaf2ff;
        border:1pt solid white;
        border-radius: .4em;
    }
    
    .speech-bubble-left:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color:#eaf2ff;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
    }


    //SOURCE https://leaverou.github.io/bubbly/
}
