
page-chatroom {
   

      .message {
          margin:2px;
      }

      .input
      {
        border-bottom-color: transparent !important;
      }

      .speech-bubble-right {
        position: relative;
        border-radius: 13px;
        background-color:#9db8c8;
        color:white;
    }
    
    .speech-bubble-right:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: #9db8c8;
        border-right: 0;
        border-bottom: 0;
        margin-top: -8px;
        margin-right: -14px;
    }

    .speech-bubble-left {
        position: relative;
        background-color:#bec7d6;
        border:1pt solid white;
        border-radius: 13px;
    }
    
    .speech-bubble-left:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color:#bec7d6;
        border-left: 0;
        border-bottom: 0;
        margin-top: -8px;
        margin-left: -14px;
    }


    //SOURCE https://leaverou.github.io/bubbly/
}
