<ion-header>
    <ion-navbar text-center>
        <ion-buttons left>
            <button ion-button icon-only (click)="goToAccountSettings()">
              <ion-icon name="settings"></ion-icon>
            </button>
            </ion-buttons>
            <ion-buttons right>
            <button ion-button icon-only (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="cards-bg social-cards">

  <!-- PROFILE IMAGE + INFO -->
    <ion-card>
    
      <ion-item>
        <ion-avatar item-start>
          <img src={{imageURL}}>
        </ion-avatar>
        <button ion-button item-end icon-only clear (click)="goToSettings()"><ion-icon name="construct"></ion-icon></button>
        <h2>{{name}}</h2>
        <p>{{school}}</p>
      </ion-item>
      <ion-card-content text-left>
        <p>{{bio}}</p>
      </ion-card-content>
    </ion-card>




<!-- CURRENT USER'S POSTS -->
    <ion-card *ngIf="noPosts"><p padding>You have no posted events!</p></ion-card>
    <ion-card *ngFor="let post of posts">
 
        <ion-item>
            
          <h2>{{post.event}}</h2>
          <p>{{post.dateString}}</p>
          <button ion-button clear item-end icon-only (click)="confirmDeletePost()"><ion-icon name="trash"></ion-icon></button>
        </ion-item>
      
        <img src={{post.image}}>
      
        <ion-row>
          <ion-col>
            <button ion-button color="primary" clear small icon-start (click)="checkRequests()">
              <ion-icon name="heart"></ion-icon>
             Check Requests
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              {{post.timeUntil}}
            </ion-note>
          </ion-col>
        </ion-row>
      
    </ion-card>

</ion-content>
