<ion-header>
  <ion-navbar text-center>
      <ion-buttons right>
          <button ion-button icon-only (click)="goToEventForm()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons left>
        <button ion-button icon-only (click)="goToAboutPage()">
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ng-container  *ngFor = "let post of posts">
    <ion-card *ngIf="post.notExpired">
       
        <ion-item>
          <ion-avatar item-start>
            <img src={{post.profileimage}}>
          </ion-avatar>
          <h2>{{post.username}}</h2>
          <p>{{post.event}}</p>
          <p>{{post.dateString}}</p>
        </ion-item>
      
        <img src={{post.image}}>
      
        <ion-row>
          <ion-col>
            <button ion-button color="primary" clear small icon-start (click)="doConfirm(
              post.postID)">
              <ion-icon name="heart"></ion-icon>
             Send Request
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
             {{post.timeUntil}}
            </ion-note>
          </ion-col>
        </ion-row>
   
      </ion-card>
    </ng-container>
</ion-content>
