<ion-header>
  <ion-navbar text-center>
      <ion-buttons left>
          <button ion-button icon-only (click)="goToAccountSettings()">
            <ion-icon name="settings"></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right>
          <button ion-button icon-only (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>DateDash Admin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-card *ngIf="noPending">
            <ion-row justify-content-center padding>
              <p>No pending requests!</p>
            </ion-row>
          </ion-card>
          
      <ion-card *ngFor="let event of pendingEvents">
       <ion-item>
        <ion-row>
        <p>{{event.username}} <br> {{event.event}} <br>
          {{event.dateString}}</p>
        </ion-row>
          <ion-row>
          <button ion-button item-end (click)="approvePost(event.postID, event.event, event.date)"> Approve </button> 
          <button ion-button item-end outline (click)="denyPost(event.postID)"> Deny </button> 
        </ion-row>
        </ion-item>
      </ion-card>
   
      </ion-list>
</ion-content>
