<ion-header>
  <ion-navbar>
    <ion-title>
      Request Center
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-label>Received</ion-label>
    <ion-card *ngIf="noReceived">
      <p>No received requests!</p>   
    </ion-card>
    <ion-card *ngFor="let request of receivedRequests">
      <ion-item>
        <p item-start *ngIf="!request.viewed" style="margin-left:-1%; color:#654f6f"><strong>NEW</strong></p>
        <p>{{request.senderName}} ~ {{request.eventName}}</p>
        <button  *ngIf="!request.expired" ion-button item-end (click)="respondToRequest(request.requestID, request.senderID)"> 
          respond 
        </button> 
        <button *ngIf="request.expired" ion-button item-end (click)="requestHasExpiredReceiver(request.requestID)"> 
          expired 
        </button> 
      </ion-item>
    </ion-card>
  </div>
  <div>
    <ion-label>Sent</ion-label>
      <ion-card *ngFor="let request of sentRequests">
        <ion-item>
            <p item-start *ngIf="(!request.viewedBySender) && (request.status=='accepted')" style="margin-left:-1%; color:#654f6f"><strong>NEW</strong></p>
          <p>{{request.receiverName}} ~ {{request.eventName}} </p>
          <ng-container *ngIf="!request.expired">
          <button *ngIf='request.status=="pending"' ion-button outline item-end (click)="pendingAlert(request.requestID)">
            pending
          </button>
          <button  *ngIf='request.status=="accepted"' ion-button outline item-end (click)="viewAccepted(request.requestID)">
            accepted
          </button>
        </ng-container>
        <button *ngIf="request.expired" ion-button item-end (click)="requestHasExpired(request.requestID)"> \
          expired 
        </button>
        </ion-item>
      </ion-card>
      <ion-card *ngIf="noSent">
          <p>No sent requests!</p>   
      </ion-card>
  </div>
</ion-content>
