<ion-header>
  <ion-navbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-card padding *ngIf= 'noChats'>
            No messages.
          </ion-card>
        <ion-item padding *ngFor= 'let chat of chats' (click)='goToChat(chat.threadID,chat.senderID, userID, chat.senderName, chat.senderImage)'>
          <ion-avatar item-start>
            <img src={{chat.senderImage}}>
          </ion-avatar> {{chat.senderName}} 
        </ion-item>
      </ion-list>
</ion-content>
