<ion-header>
  <ion-navbar>
    <ion-buttons right *ngIf="!noChats">
        <button style="font:7px" ion-button small clear (click)="markThreadsToDelete()">edit</button>
    </ion-buttons>
    <ion-title>
      Messages
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-card padding *ngIf= 'noChats'>
            No messages.
          </ion-card>
          
        <ion-item *ngFor= 'let chat of chats' (click)='goToChat(chat.threadID,chat.senderID, userID, chat.senderName, chat.senderImage, chat.topic)'>
            <p item-start *ngIf="chat.unread" style="font-size:3rem; margin-left:-1%; color:#654f6f">&#9900;</p>
          <ion-avatar item-start>
            <img src={{chat.senderImage}}>
          </ion-avatar> 
          <p float-right>{{chat.dateString}}</p> 
          <p *ngIf="!markThreads" style="font-size:1.8rem" item-end>
           
            <strong> 
              &nbsp;❯
            </strong>
          </p>
          <ion-row>
              <h2>{{chat.senderName}}</h2>
          </ion-row>
          <ion-row>
            <p>{{chat.messagePreview}}</p> 
        </ion-row>
          <button *ngIf="markThreads && !chat.delete" (click)="setToDelete(chat)" item-end clear ion-button icon-only><ion-icon name="radio-button-off"></ion-icon></button>
          <button *ngIf="chat.delete && markThreads" (click)="resetDelete(chat)" ion-button clear item-end icon-only><ion-icon name="radio-button-on"></ion-icon></button>
        </ion-item>
      </ion-list>

</ion-content>

<ion-footer>
    <ion-row justify-content-center><button *ngIf = "markThreads" item-end ion-button small (click)="deleteSelectedChats()">
      Delete selected chats 
      <ion-icon padding-left name="trash"></ion-icon>
    </button>
  </ion-row>
    <ion-row justify-content-center><button *ngIf = "markThreads" item-end clear ion-button small (click)="cancelDelete()">Cancel</button></ion-row>
</ion-footer>
