page-about {

    .bar-button-md 
    {
        font-size:1.0rem !important;
    }

    .toolbar-title {
        display: block;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 15% !important;
    }

    .item-md p
    {
        font-size:12px !important;
    }

}
